<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/salmaraz741">Steven</a>.  A student on a mission to learn how to become a web developer.
  <br />
  <p>
    Steven has enrolled in the firehose project bootcamp to gain the necessary skills.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'steven.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Steven</h2>
      <br />
      <p>
        Steven is a student web developer. In his previous life he worked in customer service and order fulfillment at an online clothing company.
      </p>
    </div>
  </div>
  <br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />